@model List<Person>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var person in Model)
{
    <div>
        <h4>Name: @person.Name</h4>
        <h4>Name: @person.Surname</h4>
    </div>
}


