@model string;

<div class="container">
    <div class="alert">
        <div class="alert-danger">
            @Model
            <br />
            <a href="javascript:history.go(-1)" class="btn btn-outline-secondary">Go Back</a>
        </div>
    </div>
</div>