@model BlogModel

<div class="container" mt-5>

    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger">
            <div>@ViewBag.Error</div>
        </div>
    }

    <form asp-controller="User" asp-action="Update" method="post">
        <input type="hidden" asp-for="@Model.post.PostId" />
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input type="text" class="form-control" id="postTitle" asp-for="@Model.post.Title" placeholder="The Post Title" aria-describedby="postTitleHelp" required />
            <div id="postTitleHelp" class="form-text">Insert the text to be shown as the Post Title.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Content</label>
            <textarea class="form-control" id="postContent" asp-for="@Model.post.Content" placeholder="The Post Content" describedby="postTitleHelp" required></textarea>
            <div id="postTitleHelp" class="form-text">Insert the text to be shown as the Post Content.</div>
        </div>
        <input class="btn btn-success" type="submit" value="Save" />
    </form>

</div>